<% title 'My Books' %>

<% for book in @books do %>
	<h2><%=link_to(h(book.title), book_path(book)) %></h2>
	<%= simple_format(truncate(book.thoughts, 100)) %>
<% end %>

<%= will_paginate @books %>

<% if current_admin %>
<p>
	Admin actions: <%= link_to 'New Book', new_book_path %>
</p>
<% end %>